.container {
    weight: 80vw;
    height: 80vh;
    // margin-top:5%;
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // overflow-y : hidden;     

        .card{
            border: 3px solid black;
            max-width: fit-content;
            max-height: auto;
            margin: 10px;
        }
    }

    .image{
        border: 3px solid green;
        margin: 10px;
    }



        